#chart {
  width: 1200px;
}

#chart div {
  display: inline-block;
}

#chart .maxRent {
  background-color: #5E9732;
}

#chart .notMaxRent {
  background-color: #08c;
}

#chart .bar {
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  text-align: center;
  height: 80px;
}